*,
html {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Cormorant Upright", "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #333333;
    background-color: #fff;
    -webkit-font-smoothing: antialiased;
}

a {
    font-family: "Cormorant Upright", sans-serif;
    color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 1rem;
    font-family: "Cormorant Upright", sans-serif;
    line-height: 150%;
    color: inherit;
}

div,
p {
    font-family: "Cormorant Upright", sans-serif;
}

.wd-main {
    overflow: hidden;
}

section {
    position: relative;
    overflow: hidden;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.wd-container-full {
    width: 100%;
    max-width: 100%;
    margin: 0;
    padding: 0;
}

.wd-container {
    max-width: 1280px;
    padding: 0 15px;
    margin-left: auto;
    margin-right: auto;
}

img {
    display: inline-block;
    height: auto;
    width: 100%;
    object-fit: cover;
}

.wd-nav-menu-main {
    ul {
        padding: 0;
        margin: 0;
        list-style: none;
        display: flex;

        .menu-item {
            a {
                text-decoration: none;
                padding: 15px 0px 15px 30px;
                color: #FFFFFF;
                font-size: 18px;
                font-weight: 500;
                line-height: 175%;
                font-family: "Cormorant Upright", sans-serif;
                transition: all 0.3s;

                &:hover {
                    color: #F7E406;
                }
            }

            .active {
                color: #F7E406;
            }
        }
    }

    .wd-menu-icon {
        display: none;

        .wd-icon {
            font-size: 25px;
        }

        i {
            border-color: #FFFFFF;
            color: #FFFFFF;
            width: 1em;
            height: 1em;
            position: relative;
            display: inline-block;
        }
    }

    @media(max-width: 1024px) {
        .menu-main {
            display: none;
        }

        .wd-menu-icon {
            display: block;
        }
    }
}

.wd-popup-menu-mobile {
    position: fixed !important;
    top: 0 !important;

    .mfp-container {
        padding: 0;
    }

    .mfp-content {
        height: 100%;
    }

    .wd-nav-menu-mobile {
        position: absolute;
        height: 100%;
        width: 280px;
        top: 0;
        right: 0;
        background-color: #555555;

        .wd-menu-mobile-wrap {
            white-space: nowrap;
            overflow: auto;
            height: 100%;

            .wd-nav-menu-main {
                padding: 20px 15px;

                h3 {
                    margin-top: 0;
                    color: #FFFFFF;
                    font-size: 24px;
                    line-height: 1em;
                }

                ul {
                    flex-direction: column;

                    .menu-item {
                        a {
                            display: block;
                            padding: 10px 0;
                            line-height: 1.5;
                        }
                    }
                }
            }
        }

        .mfp-close {
            color: #FFFFFF;
            font-size: 30px;
        }
    }
}


.wd-header-section {
    background-color: #1F2334;
    line-height: 1;
    box-shadow: 0px 1px 0px #191919;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    padding-top: 10px;
    padding-bottom: 10px;

    .wd-container {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .wd-logo {
            img {
                display: block;
                object-fit: cover;
                width: auto;
                height: 70px;
            }
        }
    }
}

.wd-footer-section {
    background-color: #070707;
    padding: 50px 0 0;

    .wd-footer-wrap {
        text-align: center;
        max-width: 860px;
        margin: 0 auto;
        padding-bottom: 30px;

        .wd-logo {
            margin-bottom: 16px;

            img {
                width: 200px;
            }
        }

        .wd-infomation-inner {
            .wd-infomation {
                margin-bottom: 20px;

                .label {
                    color: #FFFFFF;
                    font-size: 20px;
                }

                .wd-contact {
                    a {
                        display: block;
                        text-decoration: none;
                        color: #FFFFFF90;
                        font-size: 20px;
                        font-weight: 500;
                        line-height: 1.75;

                        i {
                            margin-right: 4px;
                            width: 1em;
                            height: 1em;
                            line-height: 1;
                            display: inline-block;
                        }
                    }

                    @media(max-width: 767.98px) {
                        a {
                            font-size: 18px;
                        }
                    }
                }
            }
        }

        .wd-socials {
            margin: 0;
            list-style: none;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0;

            .wd-social-item {
                margin: 4px 8px;

                a {
                    text-decoration: none;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: #FFFFFF;
                    padding: 0.8em;
                    font-size: 18px;
                    -webkit-border-radius: 50%;
                    border-radius: 50%;
                    color: #186CB0;
                    transition: all 0.3s;

                    i {
                        width: 1em;
                        height: 1em;
                        display: block;
                        line-height: 1;
                    }

                    img {
                        width: 1em;
                        height: 1em;
                        display: block;
                    }

                    &:hover {
                        background-color: #d8d8d8;
                    }
                }
            }

            @media(max-width: 767.98px) {
                .wd-social-item {
                    a {
                        font-size: 16px;
                    }
                }
            }
        }
    }

    .wd-footer-copyright {
        text-align: center;
        padding: 30px 0;
        box-shadow: inset 0px 1px 0px #2c2c2c;

        .wd-address {
            color: #FFFFFF80;
            font-size: 18px;
            line-height: 1.56em;
        }

        .wd-copyright {
            margin-top: 8px;
            color: #FFFFFF80;
            font-size: 18px;
            line-height: 1.56em;
        }

        @media(max-width: 767.98px) {

            .wd-copyright,
            .wd-address {
                font-size: 16px;
            }
        }
    }
}

.wd-heading-box {
    text-align: center;
    max-width: 760px;
    margin: 0 auto;
}

.wd-heading {
    color: #FFFFFF;
    line-height: 1.3em;
    font-size: 60px;
    font-weight: 700;
}

.wd-description {
    color: #FFFFFF;
    line-height: 1.8em;
    font-size: 18px;
    font-weight: 500;
    margin: 0;
}

@media(min-width: 1025px) and (max-width: 1200px) {
    .wd-heading {
        font-size: 50px;
    }
}

@media(max-width: 1024.98px) {

    .wd-heading {
        font-size: 42px;
    }

    .wd-description {
        font-size: 16px;
    }
}

@media(max-width: 767.98px) {

    .wd-heading {
        font-size: 32px;
    }

}


.wd-hero-section {
    .wd-container {
        max-width: 100%;
        padding: 0;

        .wd-swiper-hero {
            padding: 0;

            .swiper-wrapper {
                .swiper-slide {
                    .swiper-slide-thumbnail {
                        position: relative;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        padding-bottom: 50%;

                        &::before {
                            content: '';
                            position: absolute;
                            width: 100%;
                            height: 100%;
                            background: rgba(0, 0, 0, 0.3);
                            top: 0;
                            left: 0;
                            z-index: 1;
                        }
                    }

                    .swiper-slide-content {
                        z-index: 1;
                        padding: 40px;
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        top: 0;
                        left: 0;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        flex-direction: column;

                        .swiper-slide-text-box {
                            width: 100%;
                            max-width: 1080px;
                            margin: 0 auto;

                            .swiper-slide-heading {
                                margin: 0 0 20px;
                                font-size: 60px;
                                line-height: 130%;
                                color: #FFFFFF;
                                font-family: "Cormorant Upright", sans-serif;
                                text-transform: capitalize;
                            }

                            .swiper-slide-description {
                                font-size: 20px;
                                line-height: 150%;
                                font-weight: 600;
                                color: #FFFFFF;
                                font-family: "Cormorant Upright", sans-serif;
                            }

                            .swiper-slide-btn {
                                text-align: center;
                                margin-top: 40px;
                                display: inline-block;
                                border-radius: 4px;
                                padding: 12px 30px;
                                min-width: 230px;
                                font-size: 16px;
                                border: 3px solid #FFFFFF;
                                font-weight: bold;
                                line-height: 28px;
                                text-decoration: none;
                                color: #FFFFFF;
                                font-family: "Cormorant Upright", sans-serif;
                                text-transform: uppercase;
                                background-color: #FFFFFF30;
                                transition: all 0.3s ease;

                                &:hover {
                                    background-color: #D59578;
                                    border-color: #D59578;
                                }
                            }
                        }
                    }
                }
            }

            .swiper-button {
                visibility: hidden;
                transition: all 0.3s ease;
            }

            &:hover {
                .swiper-button {
                    visibility: visible;
                }
            }
        }
    }

    @media(max-width: 1024.98px) {
        .wd-container {
            .wd-swiper-hero {
                .swiper-wrapper {
                    .swiper-slide {

                        .swiper-slide-content {
                            padding: 30px;

                            .swiper-slide-text-box {
                                .swiper-slide-heading {
                                    font-size: 42px;
                                    margin-bottom: 16px;
                                }

                                .swiper-slide-description {
                                    font-size: 18px;
                                }

                                .swiper-slide-btn {
                                    margin-top: 30px;
                                    padding: 12px 24px;
                                    font-size: 14px;
                                    min-width: 200px;
                                    line-height: 24px;
                                }
                            }
                        }
                    }
                }

                .swiper-button {
                    padding: 20px;
                }

                .swiper-pagination {
                    right: 0;
                }
            }
        }
    }

    @media(max-width: 767.98px) {
        .wd-container {
            .wd-swiper-hero {
                .swiper-wrapper {
                    .swiper-slide {
                        .swiper-slide-thumbnail {
                            padding-bottom: 66%;
                        }

                        .swiper-slide-content {
                            padding: 15px;

                            .swiper-slide-text-box {
                                .swiper-slide-heading {
                                    font-size: 32px;
                                    margin-bottom: 12px;
                                }

                                .swiper-slide-description {
                                    font-size: 16px;
                                }

                                .swiper-slide-btn {
                                    margin-top: 20px;
                                    padding: 8px 18px;
                                    min-width: 160px;
                                }
                            }
                        }
                    }
                }

                .swiper-button {
                    display: none;
                }

                .swiper-pagination {
                    right: -15px;
                    bottom: 20px;

                    .swiper-pagination-bullet {
                        width: 12px;
                        height: 12px;
                    }
                }
            }
        }
    }
}

.wd-introduction-section {
    padding: 100px 0;
    background-color: #1F2334;

    .wd-heading-box {
        margin-bottom: 50px;
    }

    .wd-introduction-wrapper {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-column-gap: 25px;
        grid-row-gap: 25px;

        .wd-image-box {
            text-align: center;
            background: #FFFFFF;
            padding: 24px 20px;
            border-radius: 10px;

            .wd-image-box-img {
                width: 100px;
                height: 100px;
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 0 auto;
                border-radius: 50%;
                border: 1px solid #163967;

                img {
                    width: 60px;
                    height: auto;
                }
            }

            .wd-image-box-content {
                margin-top: 20px;

                .wd-image-box-title {
                    font-size: 30px;
                    line-height: 1.3em;
                    font-weight: 700;
                    margin-top: 0;
                    color: #163967;
                }

                .wd-image-box-desc {
                    font-size: 18px;
                    line-height: 1.6em;
                    font-weight: 500;
                    color: #163967;
                    margin: 0;
                }
            }
        }

    }



    @media(max-width: 1024.98px) {
        padding: 80px 0;

        .wd-heading-box {
            margin-bottom: 40px;
        }

        .wd-introduction-wrapper {
            grid-template-columns: repeat(2, 1fr);

            .wd-image-box {
                .wd-image-box-content {
                    .wd-image-box-title {
                        font-size: 24px;
                    }
                }
            }
        }
    }

    @media(max-width: 767.98px) {
        padding: 60px 0;

        .wd-heading-box {
            margin-bottom: 30px;
        }

        .wd-introduction-wrapper {
            .wd-image-box {
                .wd-image-box-content {
                    margin-top: 16px;

                    .wd-image-box-title {
                        font-size: 22px;
                        margin-bottom: 12px;
                    }

                    .wd-image-box-desc {
                        font-size: 16px;
                    }
                }
            }
        }
    }

    @media(max-width: 767.98px) {
        .wd-introduction-wrapper {
            grid-template-columns: repeat(1, 1fr);
        }
    }
}

.wd-services-section {
    padding: 100px 0 50px;
    background-color: #1B1D2B;

    .wd-services-wrap {
        margin-bottom: 80px;

        .wd-popup-gallery {
            margin-top: 50px;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-column-gap: 30px;
            grid-row-gap: 30px;

            a {
                display: inline-block;

                img {
                    border-radius: 15px;
                    width: 100%;
                    height: 100%;
                }
            }

        }

        .wd-swiper-video {
            margin-top: 50px;

            .swiper-wrapper {
                .swiper-slide {
                    border-radius: 10px;
                }
            }
        }
    }

    @media(max-width: 1024.98px) {
        padding: 80px 0 40px;

        .wd-services-wrap {
            margin-bottom: 60px;

            .wd-popup-gallery {
                grid-column-gap: 20px;
                grid-row-gap: 20px;
            }
        }
    }

    @media(max-width: 767.98px) {
        padding: 60px 0 30px;

        .wd-services-wrap {
            .wd-popup-gallery {
                grid-template-columns: repeat(2, 1fr);
            }
        }
    }
}

.wd-payment-section {
    background-color: #0C0D13;
    padding: 100px 0;

    .wd-payment-wrap {
        margin-top: 50px;

        .swiper-wrapper {
            .swiper-slide {
                border-radius: 10px;
            }
        }
    }

    @media(max-width: 1024.98px) {
        padding: 80px 0;
    }
}

.wd-teams-section {
    padding: 100px 0;
    background-color: #12141D;

    .wd-teams-wrap {
        margin-top: 50px;

        .swiper-wrapper {
            .swiper-slide {
                text-align: center;

                .swiper-slide-inner {
                    border-radius: 10px;
                    overflow: hidden;
                }

                .swiper-slide-thumbnail {
                    height: 100%;
                    width: 100%;
                }

                .swiper-slide-content {
                    position: absolute;
                    width: 100%;
                    bottom: 0;
                    left: 0;
                    background: rgba(19, 5, 35, 0.2);
                    padding: 15px;

                    .swiper-slide-name {
                        margin: 0;
                        font-size: 24px;
                        font-weight: 700;
                        color: #FFFFFF;
                        line-height: 125%;
                        text-transform: capitalize;
                    }

                    .swiper-slie-job {
                        margin-top: 4px;
                        font-size: 18px;
                        color: #FFFFFF;
                        text-transform: capitalize;
                    }
                }
            }
        }

        .swiper-button {
            display: none;
        }
    }


    @media(max-width: 1024.98px) {
        padding: 80px 0;
    }

    @media(max-width: 767.98px) {
        padding: 60px 0;

        .wd-teams-wrap {
            .swiper-wrapper {
                .swiper-slide {
                    .swiper-slide-content {
                        .swiper-slide-name {
                            font-size: 20px;
                        }

                        .swiper-slie-job {
                            font-size: 16px;
                        }
                    }
                }
            }
        }
    }

}

.wd-contact-section {
    padding: 100px 0;
    background-blend-mode: color;
    background-color: rgba(0, 0, 0, 0.5);
    background-image: url(../images/wd-cover-img-min.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    .wd-contact-wrap {
        text-align: center;
        margin-top: 50px;
        max-width: 600px;
        margin-left: auto;
        margin-right: auto;
        padding: 40px;
        background: rgba(255, 255, 255, 0.95);
        box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
        border-radius: 10px;

        .wd-contact {
            margin-bottom: 16px;

            a {
                text-decoration: none;
                display: block;
                color: #555555;
                font-weight: 500;
                font-size: 24px;
                line-height: 1.75;

                i {
                    margin-right: 4px;
                    width: 1em;
                    height: 1em;
                    line-height: 1;
                    display: inline-block;
                }
            }
        }

        .wd-address {
            font-size: 20px;
            line-height: 150%;
            color: #555555;
            font-weight: 600;
        }
    }

    @media(max-width: 1024.98px) {
        padding: 80px 0;

        .wd-contact-wrap {
            padding: 30px 24px;

            .wd-contact {
                a {
                    font-size: 20px;
                }
            }
        }
    }

    @media(max-width: 767.98px) {
        .wd-contact-wrap {
            padding: 20px;

            .wd-contact {
                a {
                    font-size: 18px;
                }
            }

            .wd-address {
                font-size: 18px;
            }
        }
    }
}

// Slide
.swiper {
    overflow: hidden;
    padding-bottom: 40px;
    margin-left: auto;
    margin-right: auto;

    .swiper-wrapper {
        .swiper-slide {
            overflow: hidden;
            min-height: 220px;
            background: transparent;
            display: -webkit-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            -webkit-justify-content: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            -webkit-align-items: center;
            align-items: center;

            .swiper-slide-inner {
                width: 100%;
                height: 100%;

                .swiper-slide-thumbnail {
                    width: 100%;
                    height: 100%;
                    position: relative;
                    padding-bottom: 66%;
                }

                img {
                    position: absolute;
                    top: 0;
                    left: 0;
                    display: block;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

        }
    }

    .swiper-button {

        &.swiper-button-next,
        &.swiper-button-prev {
            &::after {
                display: none;
            }
        }

        top: calc(50% - 20px);
        width: 1em;
        height: 1em;
        font-size: 16px;
        padding: 24px;
        color: #FFFFFF;
        background: #186CB060;
        border-width: 0;
        border-radius: 50%;
        transition: all 0.3s;

        &:hover {
            background: #186CB090;
        }
    }

    .swiper-pagination {
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);

        .swiper-pagination-bullet {
            margin: 4px;
            width: 12px;
            height: 12px;
            background-color: #FFFFFF;
            opacity: 0.4;

            &.swiper-pagination-bullet-active {
                background-color: #00B3D3;
                opacity: 1;
            }
        }

        &--hero {
            right: 32px;
            left: auto;
            bottom: 32px;
            line-height: 0;

            .swiper-pagination-bullet {
                margin: 4px;
                width: 16px;
                height: 16px;
                background-color: #FFFFFF;
                opacity: 0.4;

                &.swiper-pagination-bullet-active {
                    background-color: #F64D52;
                    opacity: 1;
                }
            }
        }
    }
}

/* overlay at start */
.mfp-fade.mfp-bg {
    opacity: 0;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.mfp-fade.mfp-bg.mfp-ready {
    opacity: 0.8;
}

.mfp-fade.mfp-bg.mfp-removing {
    opacity: 0;
}

.mfp-fade.mfp-wrap .mfp-content {
    opacity: 0;

    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
    opacity: 1;
}

.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
    opacity: 0;
}