*,
html {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #333333;
    background-color: #fff;
    -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    font-family: inherit;
    line-height: 150%;
    color: inherit;
}

.wd-main {
    overflow: hidden;
}

section {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.wd-container-full {
    width: 100%;
    max-width: 100%;
    margin: 0;
    padding: 0;
}

.wd-container {
    max-width: 1230px;
    padding: 0 15px;
    margin-left: auto;
    margin-right: auto;
}

img {
    display: inline-block;
    height: auto;
    max-width: 100%;
}

.wd-nav-menu-main {
    display: flex;
    align-items: center;
    padding: 0 50px;

    ul {
        padding: 0;
        margin: 0;
        list-style: none;
        display: flex;

        .menu-item {
            margin-left: 30px;

            &:first-child {
                margin-left: 0;
            }

            a {
                text-decoration: none;
                padding: 15px 0;
                color: #FFFFFF;
                font-size: 18px;
                font-weight: 500;
                line-height: 175%;
                font-family: 'Helvetica Neue', serif;
                transition: all 0.3s;

                &:hover {
                    color: #F7E406;
                }
            }
        }
    }

    .wd-menu-icon {
        display: none;

        .wd-icon {
            font-size: 25px;
        }

        i {
            border-color: #FFFFFF;
            color: #FFFFFF;
            width: 1em;
            height: 1em;
            position: relative;
            display: inline-block;
        }
    }

    @media(max-width: 1024px) {
        .wd-menu {
            display: none;
        }

        .wd-menu-icon {
            display: block;
        }
    }
}

.wd-nav-menu-popup {
    display: none;
}

.wd-header-section {
    background-color: #070707;
    line-height: 1;

    .wd-container {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .wd-logo {
            img {
                display: block;
                object-fit: cover;
            }
        }
    }
}

.wd-heading {
    color: #FFFFFF;
    line-height: 1.3em;
    font-size: 50px;
}

.wd-description {
    color: #FFFFFF;
    line-height: 1.8em;
    font-size: 18px;
}

.wd-hero-section {
    .wd-container {
        max-width: 100%;
        padding: 0;
    }
}

.wd-introduction-section {
    padding: 100px 0;
    background-color: #12141D;

    .wd-wrapper {
        display: flex;

        .wd-image-box {
            overflow: hidden;
            width: 50%;

            iframe {
                border: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .wd-text-box {
            width: 50%;
            max-width: 600px;
            margin: 50px;
        }
    }
}

// Slide
.wd-swiper-wrap {
    overflow: hidden;
    padding: 0;

    .swiper-wrapper {
        .swiper-slide {
            height: 600px;
            background: transparent;

            .swiper-slide-inner {
                width: 100%;

                .swiper-slide-thumbnail {
                    position: relative;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    &::before {
                        content: '';
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        background: rgba(0, 0, 0, 0.3);
                        top: 0;
                        left: 0;
                    }

                    img {
                        width: auto;
                        height: auto;
                        max-width: 100%;
                        max-height: 100%;
                        object-fit: cover;
                    }
                }

                .swiper-slide-content {
                    padding: 40px;
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;

                    .swiper-slide-text-box {
                        width: 80%;
                        margin: 0 auto;

                        .swiper-slide-heading {
                            margin: 0 0 20px;
                            font-size: 60px;
                            line-height: 130%;
                            font-family: 'Helvetica Neue', serif;
                            color: #FFFFFF;
                        }

                        .swiper-slide-description {
                            font-size: 20px;
                            font-family: 'Helvetica Neue', serif;
                            line-height: 150%;
                            font-weight: 600;
                            color: #FFFFFF;
                        }

                        .swiper-slide-btn {
                            margin-top: 40px;
                            display: inline-block;
                            border-radius: 4px;
                            padding: 12px 30px;
                            min-width: 230px;
                            font-size: 16px;
                            border: 3px solid #FFFFFF;
                            font-weight: bold;
                            font-family: 'Helvetica Neue', serif;
                            line-height: 28px;
                            text-decoration: none;
                            color: #FFFFFF;
                            text-transform: uppercase;
                            background-color: #FFFFFF30;
                            transition: all 0.3s ease;

                            &:hover {
                                background-color: #D59578;
                                border-color: #D59578;
                            }
                        }
                    }
                }
            }

        }
    }

    .swiper-button {
        width: 36px;
        height: 36px;
    }

    .swiper-pagination {
        right: 32px;
        bottom: 32px;
        line-height: 0;

        .swiper-pagination-bullet {
            margin: 4px;
            width: 12px;
            height: 12px;
            background-color: #FFFFFF;
            opacity: 0.4;

            &.swiper-pagination-bullet-active {
                background-color: #F64D52;
                opacity: 1;
            }
        }
    }
}